<h1>Admins#index</h1>
<p>Find me in app/views/admins/index.html.erb</p>

<table class="table table-striped">
	<tr>
		<td>first name</td>
		<td>last name</td>
		<td>age</td>
		<td>salary</td>
		<td>DOB</td>
		<th colspan="3"></th> <!-- this means add 3 columns 'show, edit, destroy' -->
	</tr>

	<% @admins.each do |admin| %>
	<%= link_to 'New admin', new_admin_path %> <!-- when we click on add new admin it will take us to controller called admin and action called new -->

	<tr>
		<td><%= admin.first_name %></td>
		<td><%= admin.last_name %></td>
		<td><%= admin.age %></td>
		<td><%= admin.salary %></td>
		<td><%= admin.DOB %></td>
		<td><%= link_to 'Show', admin %></td>
		<td><%= link_to 'Edit', edit_admin_path(admin) %></td>
		<td><%= link_to 'Destroy', admin, method: :delete, data: { confirm: 'Are you sure?' } %></td>
	</tr>


	<% end %>
</table>